{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>Переводчик </h3>
                </div>
                <form id="form" class="p-3" action='' method="POST">
                    {% csrf_token %}
                    <div class="inline-form">

                            <input id='lang' type="text" class="form-control" placeholder="Введите текст" {% if texts %} value="{{texts}}" {% endif %} name="lang">

                            <select class="form-control" id="from_translate" name="from_translate" value="{{ from_translate }}">
                                {% for lang in langs %}
                                    <option value="{{ lang }}" {% if from_translate == lang %}selected{% endif %}> {{lang}}</option>
                                {% endfor %}
                            </select>

                                <button type="submit" class="btn btn-primary">Перевести</button>

                        <hr>
                        </div>
                        {% if all %}
                            <div class="card col-6 p-0 m-auto">
                                <div class="card-body">
                                    {{ all }}
                                </div>
                            </div>
                        {% endif %}

                </form>
            </div>
        </div>
    </div>

{% endblock content %}
