{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="card box-shadow m-2 form-wrap">
                <div class="card-header text-center">
                    <h3>Переводчик </h3>
                </div>
                <form id="form" class="p-3" action='' method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            <label for="land"></label>
                            <input id='land' type="text" class="form-control" placeholder="Введите текст" {% if texts %} value="{{texts}}" {% endif %} name="land">
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            <label for="from_translate"></label>
                            <select class="form-control" id="from_translate" name="from_translate" value="{{ from_translate }}">
                                {% for lang in langs %}
                                    <option value="{{ lang }}" {% if target_language == land %}selected{% endif %}> {{lang}}</option>
                                {% endfor %}
                            </select>
                        </div>
                            <div class="submit-btn mt-3">
                                <button type="submit" class="btn btn-primary">Перевести</button>
                            </div>
                        <hr>
                        {% if all %}
                            <div class="card col-6 p-0 m-auto">
                                <div class="card-body">
                                    {{ all }}
                                </div>
                            </div>
                        {% endif %}
                         </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
